@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --color-primary: #1a1a1a;
  --color-secondary: #f4f4f5;
}

@layer base {
  body {
    @apply bg-white text-gray-900 font-serif antialiased;
  }
}
